importFrom("reshape2", acast, dcast)
importFrom("stringr", str_split)
importFrom("plyr", mapvalues)
import("RJSONIO")

export( read.px )
export( write.px )
export( as.px )
export( as.px.array )
export( as.px.data.frame )
export( write.json.stat )

S3method(as.data.frame, px)
S3method(as.array, px)
S3method(summary, px)

#S3method( as.px, array )

##import()
##export()
##exportMethods()
##exportClas)
