export( read.px )
export( write.px )
export( as.px )
export( as.px.array )

S3method(as.data.frame, px)
S3method(as.array, px)
S3method(summary, px)

#S3method( as.px, array )

##import()
##export()
##exportMethods()
##exportClas)
